PORT=5000
MONGODB_URI=mongodb+srv://izohke92_db_user:ZJFcy2W9DunDRZXO@cluster0.chxra0j.mongodb.net/efootball?retryWrites=true&w=majority
JWT_SECRET=Vo#T&x&LlD92/GTrz_AP)fiNA{L*CjqupER#)$8u2b(HuBEW):j]@_]T]*dt+r2s
JWT_EXPIRE=7d
ENCRYPTION_KEY=Vo#T&x&LlD92/GTrz_AP)fiNA{L*CjqupER#)$8u2b(HuBEW):j]@_]T]*dt+r2s
DERIV_APP_ID=your_deriv_app_id
DERIV_API_TOKEN=your_deriv_api_token
NODE_ENV=development
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=100
MAX_TRADE_AMOUNT=1000
MIN_TRADE_AMOUNT=1
MAX_TRADES_PER_MINUTE=5

# Google OAuth
GOOGLE_CLIENT_ID=852671786626-9ue259d6ul9najam3t0ilg18rkhtkdc3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
SESSION_SECRET=your_session_secret_for_oauth
FRONTEND_URL=http://localhost:3000